{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "src"
        ]
    },
    "mutators": {
        "@default": true
    },
    "logs": {
        "github": true,
        "stryker": {
            "report": "edge"
        },
        "html": "infection.html",
    },
}